@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    box-sizing: border-box;
    padding: 0%;
	margin: 0%;
}

body{
	background: rgb(23, 23, 23);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    scroll-margin-block-start: 0;
}


header{
    padding:1rem;
    display:flex;
    justify-content: flex-end;
    background-color: var(--secondary-color);
    /* z-index: -1; */
}
header nav {
	width: 100%;
	height: 10%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 50px;
	z-index: 1;
    position: fixed;
    top: 0;
}
.logo_ul img {
	width: 35px;
}
.search_user {
	align-items: center;
	justify-content: center;
}
.search_user input{
	padding: 3px 10px;
	border-radius: 20px;
	border: none;
	outline: none;
	background: rgb(255, 255, 255, .3);
	color: #fff;
	font-size: 22px;
}
.search_user input::placeholder{
    color: #fff;
}
.dropdown {
	position: relative;
	min-width: 7em;
	font-size: 20px;
}
.dropdown * {
	box-sizing: border-box;
}
.select {
	color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1em;
	cursor: pointer;
	transition: background 0.3s;
	height: 17px;
	border-radius: 0.5em;
	opacity: 0.7;
}
.select-clicked {
	background: #000;
	opacity: 0.5;
	box-shadow: 0 0 0.8em #26489a;

}
.select:hover {
	background: #000;
	opacity: 0.5;
}
.caret {
	width: 0;
	height: 0;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 6px solid #fff;
	transition: 0.3s;
}
.caret-rotate {
	transform: rotate(180deg);
}
.menu {
	list-style: none;
	padding: 0.2em 0.5em;
	box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
	border-radius: 0.5em;
	color: #fff;
	position: absolute;
	top: 3em;
	left: 50%;
	width: 100%;
	transform: translateX(-50%);
	opacity: 0;
	display: none;
	transition: 0.2s;
	z-index: 1;
	color: black;
}
.menu-open {
	display: block;
	opacity: 1;

}
video {
	object-fit: cover;
  	width: 100%;
  	height: 100%;
  	position: fixed;
  	top: 0;
  	left: 0;
    z-index: -1;
}
.content {
	position: fixed;
	color: #fff;
	top: 20%;
	padding-left: 50px;
}
.content h1{
	font-size: 50px;
}
.content p{
	font-size: 11px;
	width: 350px;
}
.content .details{
	display: flex;
	align-items: center;
	margin-top: 10px;
}
.content .details h6{
	color: rgb(255, 255, 255, .8);
	font-size: 10px;
	margin-right: 10px;
}
.content .details h5{
	color: rgb(142, 230, 40);
	font-size: 10px;
	margin-right: 10px;
}
.content .details h4{
	color: white;
	font-size: 10px;
	margin-right: 10px;
}
.content .details h3{
	color: rgb(255, 255, 255, .8);
	display: flex;
	align-items: center;
	font-size: 10px;
}
.content .btn{
	margin-top: 20px;
	display: flex;
	align-items: center;
}
.content .btn a{
	padding: 5px 12px;
	font-size: 15px;
	font-weight: 400;
	background: linear-gradient(90deg, #00bdff, #0079ff);
	border-radius: 5px;
	color: white;
	text-decoration: none;
}
main{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 400px;
}

.movie {
    width: 270px;
    margin: 1rem;
    border-radius: 3px;
    box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
    background-color: var(--secondary-color);
    position:relative;
    overflow: hidden;
}


.movie img{
    width:100%;
}

.movie-info{
    color:#eee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem 1rem;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin-top: 0;
}

.overview{
    position:absolute;
    left:0;
    right:0;
    bottom:0;
    background-color: #fff;
    padding: 1rem;
    max-height: 100%;
    transform:translateY(101%);
    transition:transform 0.3s ease-in;
    font-size: 15px;
}

.movie:hover .overview{
    transform:translateY(0)
}

#tags{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.tag{
    color:white;
    font-size: 15px;
    font-weight: 200;
    height: 40px;
    padding: 10px 20px;
    margin: 1px;
    display:inline-block;
    cursor: pointer;
}

.tag.highlight{
    background-color: #00bdff;
    border-radius: 10px;
}
.no-results{
    color:white;
}

.pagination{
    display:flex;
    margin:10px 30px;
    align-items: center;
    justify-content: center;
    color:white;
}

.page{
    padding:20px;
    cursor:pointer;
}

.page.disabled{
    cursor:not-allowed;
    color:grey;
}

.current{
    padding: 10px 20px;
    border-radius: 50%;
    border: 5px solid #00bdff;
    font-size: 20px;
    font-weight: 600;
}

.book_now{
    background-color: #00bdff;
    color:white;
    font-size: 16px;
    font-weight: bold;
    border:0;
    border-radius: 50px;
    padding: 10px 20px;
    margin-top: 5px;
    cursor: pointer;
}